@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">RadianceHub</h1>
        <p class="lead">When you need precise, high-quality medical imaging appointment services, RadianceHub is your ultimate choice.</p>
    </section>
    <style>
        .section-content {
            margin-bottom: 10px; /* 添加一些下边距，用于分隔介绍字段和按钮 */
        }
    </style>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Start your appointment</h2>
            <div class="section-content">
                <p>Experience hassle-free medical imaging appointment booking with RadianceHub, ensuring timely access to essential diagnostic services for your peace of mind.</p>
                <p><a class="btn btn-outline-dark" href="https://www.mayoclinic.org/">Learn more &raquo;</a></p>
            </div>
        </section>

        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Introduction of X-ray machine equipment</h2>
            <div class="section-content">
                <p>Discover the cutting-edge technology of our X-ray machine equipment, providing accurate and detailed imaging for efficient diagnosis and treatment.</p>
                <p><a class="btn btn-outline-dark" href="https://www.matsusada.com/product/xray/?gclid=CjwKCAjw_uGmBhBREiwAeOfsd2YMgYEP6ADSCgvEFDPYFETuJFbF_FjtzXg6uXf9nx-d6VXn3f4htRoCK-wQAvD_BwE">Learn more &raquo;</a></p>
            </div>
        </section>

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Medication Guidelines</h2>
            <div class="section-content">
                <p>Stay informed and empowered with our comprehensive medication guidelines, providing valuable insights and instructions for safe and effective medication management, ensuring your well-being every step of the way.</p>
                <p><a class="btn btn-outline-dark" href="https://dan.org/health-medicine/travelers-medical-guide/">Learn more &raquo;</a></p>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col-md-4">
            <img src="../HomePageImages/clinic.jpg" alt="Image 1" style="width: 100%; height: auto;">
        </section>
        <section class="col-md-4">
            <img src="../HomePageImages/X-Ray.jpg" alt="Image 2" style="width: 100%; height: auto;">
        </section>
        <section class="col-md-4">
            <img src="../HomePageImages/medical.jpg" alt="Image 3" style="width: 100%; height: auto;">
        </section>
    </div>
</main>